div.page-content {
	display: flex;
	flex-direction: column;
}

div.matrix {
	margin: 0 10pt 0 0;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

div.matrix div {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	margin: 0 0 10pt 0;
}

div.matrix div span {
	flex-grow: 1;
	width: 40pt;
	margin: 0 0 0 10pt;
}

div.matrix div span button.button.button-fill {
	height: 100%;
}
